<?xml version="1.0"?>
<DataClass xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MainBackImg>MainBack.png</MainBackImg>
  <MusiListBackColor>SkyBlue</MusiListBackColor>
  <VolumeBarColor>SkyBlue</VolumeBarColor>
  <FontColor>0, 0, 0, 0</FontColor>
</DataClass>